* {
    box-sizing: border-box;
    outline: none;
}  

:root {
    --primary-color:rgb(0, 0, 0);
    --primary-color-dark: rgb(5, 54, 52);
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans' sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 550px;
    margin: 50px auto;
    background: rgb(243, 195, 35);
    padding: 20px;
    border-radius: 10px;
    
}

.container h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    width: 500px;
}

.calculadora input {
    outline: auto;
}


.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: solid 2px;
    background: #ffffff;
    cursor: pointer;
}

.btn:hover{
    background: #cfcece;
}