* {
    box-sizing: border-box;
    outline: none;
}  

:root {
    --primary-color:rgb(5, 136, 129);
    --primary-color-dark: rgb(5, 54, 52);
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans' sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    
}

.relogio{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.pausado {
    color: red;
}